body {
	background-color:#4a4a4a;
	background-image:url('images/masofcttbg.png');
	background-repeat:repeat-x;
}

hr.trenner {
	width:90%;
}

div.button {
	-webkit-border-radius:5px;
	background:#595959;
	height:20px;
	margin-top:4px;
	border-left:1px solid #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #868686;
	border-bottom:1px solid #868686;
	padding:5px;
	padding-top:7px;
	color:#eeeeee;
	font-size:larger;
	cursor:default;
}

div.button:hover {
	background-color:#cfcfcf;
	color:#595959;
}

div.buttongroup {
	-webkit-border-radius:5px;
	padding:5px;
	padding-left:20px;
	background:#595959;
	margin-top:4px;
	border-left:1px solid #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #868686;
	border-bottom:1px solid #868686;
}

div.bgtitle {
	margin-left:-15px;
	color:#eeeeee;
}

input.search {
	margin-top:-3px;
	width:100%;
}

div#menu {
	margin:0px 20px 0px 20px;
	text-align:center;
}

div#main {
	position:absolute;
	float:left;
	left:20px;
	top:120px;
	right:20px;
	bottom:20px;
}

div#categories {
	height:100%;
	width:200px;
	float:left;
	overflow:auto;
}

div#browser {
	height:100%;
	float:right;
	width:530px;
	background:#595959;
	border-left:1px solid #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #868686;
	border-bottom:1px solid #868686;
	-webkit-border-radius:5px;
}

div#statuslabel {
	position:absolute;
	right:5px;
	top:5px;
}
